
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.top{
    display: flex;
    margin-bottom: 100px;
}
.tl{
    width: 50%;
    background-image: url(./image/top-banner.png);
    background-repeat: no-repeat;
    
}
h1{
    font-size: 50px;
    margin: 40px 15px 50px 50px;
}
span{
    color: lightgreen;
}
h2{
    font-size: 35px;
    margin: 40px 15px 50px 50px;
}
p{
    font-size: 18px;
    margin: 40px 15px 30px 50px;
}
.link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: wheat;
    border-radius: 50px 2px;
    padding: 15px 30px;
    background-image: linear-gradient(to left,lightgreen, black);
    margin: 0px 15px 50px 50px;
}
.tr img{
    padding-left: 100px;
}
.mid{
    background-image: url(./image/mid-bcg.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size:100%;
    display: flex;
    margin-bottom: 100px;
    box-shadow: inset 5px 5px 80px lightgreen;
}

.mr{
    width: 50%;
    padding-left: 200px;
    margin-left: 50px;
}

.variant{
    margin-bottom: 100px;
    display: inline;
}
.variant h1{
    text-align: center;
}
.variant p{
    text-align: center;
    padding : 0 300px;
}


.bottom{
    display: flex;    
    margin-bottom: 100px;
}
h3{
    font-size: 2rem;
    padding: 10px 10px ;
}
.bottom img{
    margin: 25px;
    border-radius: 10px;
}
.description{
    padding: 10px 10px;
    margin: 0;
    text-align: left;
}
.flex-3{
    width: 33%;
    margin: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 40px lightgreen;
}


footer{
    padding: 10px 0;
    background: black;
    color: rgb(63, 94, 3);
    font-weight: 400;
    text-align: center;
    box-shadow: 0px -20px lightgreen;
}

.login{
    display: flex;
    background: black;
    border-bottom: 2px solid lightgreen;

}
.about{
    color: white;
    width: 40%;
    text-align: left;
    border-right: 3px solid lightgreen;
    border-radius: 0 15px 0 0;
    box-shadow: 20px 0px 80px lightgreen;
    padding-bottom: 30px;
}
.about li{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 5px 50px;
    font-weight: 700;
}
.about li a{
    text-decoration: none;
    color: white;
}


.form{
    width: 70%;
    margin-right: 10px;
    padding-left: 30px;
    color: white;
    border-radius: 0 15px 0 0;
    display: inline;
}
.form h3{
    text-align: right;
    padding-bottom: 10px;
}
.form form{
    font-size: 1.5rem;
    text-align: right;
    color:white;
}
.signup{
    margin-top: 10px;
    text-align: right;
    padding: 5px 30px;
    color:rgb(0, 0, 0);
    box-shadow:2px 2px 15px cyan;
    border-radius: 10px;
}